.Palette {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Palette-colors {
  height: 90%;
}

.Palette-footer {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.Palette-footer .emoji {
  margin-left: 20px;
}
